html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
    height: 95%;
    width: 100%;
}
.wrapper {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
    /* background-color: #ddd; */
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 80px;
    width: 100%;
    text-align: center;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 200px;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 30px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}

#messageInput {
    width: 90%;
    /* max-width: 80%;  */
    height: 50%;
    max-height: 80%;
    float:left;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#sendBtn {
    width: 8%;
    height: 50%;
    float: right;
    margin-top: 1%;
}
footer {
    text-align: center;
}
